<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.allocate">

    <permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/allocate_iron_rev2"
        android:label="Allocate"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:excludeFromRecents="true"
            android:label="Allocate"
            android:screenOrientation="portrait"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddTaskActivity"
            android:label="Add Task"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service android:name=".TimerBroadcastService" />

        <receiver android:name=".TickReciever" />
        <receiver
            android:name=".alarms.TimerDoneReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ViewStatsActivity"
            android:label="View Stats"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>